# Entornos virtuales
venv/
.env

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/

# Datos sensibles y archivos del broker
data/
*.csv

# Sistema Operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
